# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store


# Windows system files
Thumbs.db

# VS Code editor settings
.vscode/
!.vscode/extensions.json

# IntelliJ / WebStorm
.idea/
*.iml
